<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <p>Source link: <a href="https://data.world/kgarrett/covid-19-open-research-dataset">Covid Research Data</a> </p>
        <div>
            <p>Name and type of the variables:</p>
            <ul>
                <li>sha - string</li>
                <li>source_x - string</li>
                <li>title - string</li>
                <li>doi - url</li>
                <li>pmcid - string</li>
                <li>pubmed_id - integer</li>
                <li>license - string</li>
                <li>abstract - string</li>
                <li>publish_time - string</li>
                <li>authors - string</li>
                <li>journal - string</li>
                <li>microsoft_academic_paper_id - integer</li>
                <li>who_covidence - string</li>
                <li>has_full_text - boolean</li>
            </ul>

        </div>
    </body>
</html>