<!DOCTYPE html>
<html>

<head>
    <title>Covid Data</title>

</head>
<style>
    div.container {
        text-align: center;
    }

    ol.list {
        display: inline-block;
        text-align: left;
    }
</style>

<body>
    <h1 style="text-align:center ;">DAB111 GROUP PROJECT</h1>
    <div class="container">
        <h2 style="text-align: center;"><u>Group members</u></h2>
        <ol class="list">
            <li> JOEL JOSEPH - #0850367</li>
            <li> THOMASKUTTY MATHEW - #0850989</li>
            <li> SREE VISHNU - #0856360</li>
        </ol>
            
    </div>
    <ul>
        <li><a href="{{ url_for('about') }}">About page</a></li>
        <li><a href="{{ url_for('data') }}">Data page</a></li>
    </ul>
</body>

</html>